<%- include('header') %>

<h3>
    <div>
        <ul>
            <li>
                Leonardo Costa Damasceno
            </li>
            <li>
                Idade: 26 anos
            </li>
            <li>
                Grau de escolaridade: Superior completo
            </li>
            <li>
                Telefone:  (11)9 4573 - 0148
            </li>
            <li>
                <a href="/">Voltar para o Curriculo</a>
            </li>
        </ul>
    </div>
</h3>

<%- include('footer') %>